@charset "utf-8";
main {width: 100%;margin: auto;padding: 8% 0 5% 0;background: url(../images/recommend_bg.jpg);}
section {width: 90%;overflow: hidden;background: #e2e2e2;margin: auto;position: relative;padding: 2% 0 5% 0}
section h2,h3 {color: #636363}
section h2 {margin-left: 2.5%;font-size: 2em;}
article {width: 46.25%;float: left;position: relative;overflow: hidden;}
article h3 {padding-bottom: 5%;font-size: 1.5em;}
article img {width: 100%;}
.pane_wrap,.tower_wrap {margin: 5% 1.25% 0 2.5%}
.tomate_wrap,.dra_wrap {margin: 5% 2.5% 0 1.25%}

.thum {font-size: 0;line-height: 0;}
.inner {background: #fff;padding: 3%;font-size: 1em;font-weight: bold;}
.price {float: right}
.link {padding: 5px;font-size: 0.8em; display: inline-block;width: 100px;margin: auto;color: #fff;background: #ccc;font-weight: bold;text-align: center;z-index: 9999;transform: translateX(-50%);}
.link:hover {background: orange;}
.link_box{position: absolute; left: 50%; top: 50%; }
.t {display: block;z-index: -1;height: 100%;content: '';top: 25%;left: 0;position: absolute;}
.b {display: block;z-index: -1;height: 100%;content: '';bottom: 25%;right: 0;position: absolute;}
.l {display: block;z-index: -1;height: 100%;content: '';top: 0;left: 25%;position: absolute;}
.r {display: block;z-index: -1;height: 100%;content: '';top: 0;right: 25%;position: absolute;}

@media screen and (max-width:1024px){
	main{padding-top: 10%;}
	 
}

@media screen and (max-width:768px){
	main{padding-top: 15%;}
	section h2 {margin-left: 5%;padding-bottom: 3%;}
	article {width: 90%;float: none;padding-bottom: 5%;}
	.pane_wrap,.tower_wrap,.tomate_wrap,.dra_wrap {margin: auto;}
 
}